body {
  font-family: "Poppins", sans-serif;
  background-color: #0a0a0a;
  color: #e50914;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: rgba(20, 20, 20, 0.95);
  border: 2px solid #e50914;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
}

button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #b20710;
  }
